
### Node

# Logs
logs
*.log
npm-debug.log*

# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules

### dest

electron-sample-darwin-x64
electron-sample-win32-x64
